@font-face {
  font-family: 'Hobo';
  src: url('../public/fonts/hobo.woff') format('woff');
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin: 0;
  padding: 0;
}

canvas {
  width: 95%;
  height: 95%;
  object-fit: contain;
}
